<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<title th:text="${pagetitle}">Generic Page Title</title>
	</head>

	<body>
		<nav th:replace="layouts/nav :: navFragment">
		</nav>

		<div class="jumbotron">
		<h1>Cereals</h1>
		</div>

		<div class="container">		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Manufacturer</th>
						<th>Energy</th>
						<th>Calories</th>						
						<th>Protein</th>
						<th>Carbohydrate</th>
						<th>Sugars</th>
						<th>Fat</th>
						<th>Saturates</th>
						<th>Fibre</th>
						<th>Sodium</th>
						<th>Salt</th>
						<th>Iron</th>

					</tr>
				</thead>
	
		<tbody>
			<tr th:each="cereal : ${cereals}">
				<td th:text="${cereal.name}"></td>
				<td th:text="${cereal.manufacturer}"></td>
				<td th:text="${cereal.energy}"></td>
				<td th:text="${cereal.calories}"></td>
				<td th:text="${cereal.protein}"></td>
				<td th:text="${cereal.carbohydrate}"></td>
				<td th:text="${cereal.sugars}"></td>
				<td th:text="${cereal.fat}"></td>
				<td th:text="${cereal.saturates}"></td>
				<td th:text="${cereal.fibre}"></td>
				<td th:text="${cereal.sodium}"></td>
				<td th:text="${cereal.salt}"></td>
				<td th:text="${cereal.iron}"></td>

				
			</tr>
		</tbody>

			</table>
		</div>
	</body>
</html>