<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron" align="center">
		<h2>All Events in Belfast</h2>
	</div>

	<table th:each="event : ${events}" class="table">
		<tbody>
			<tr>
				<th>Event Title</th>
				<td th:text="${event.title}"></td>
			</tr>

			<tr>
				<th>Start Date</th>
				<td th:text="${#dates.format(event.startDate, 'dd-MM-yyyy')}"></td>
			</tr>

				<tr>
				<th>End Date</th>
				<td>
					<div>
						<p th:if="${event.endDate != null}" th:text="${#dates.format(event.endDate, 'dd-MM-yyyy')}"></p>
					</div>
				</td>
				</tr>

				<tr>
				<th>Time</th>
				<td th:text="${event.time}"></td>
				</tr>

				<tr>
				<th>Venue</th>
				<td th:text="${event.venue}"></td>
				</tr>

				<tr>
				<th>Image</th>
				<td><img src="" th:src="${event.image}" /></td>
				</tr>

				<tr>
				<td colspan="5" align="center"><a class="btn btn-primary" href="#" th:href="@{/} + ${event.identifier}">More Info</a></td>
				</tr>
			</tbody>
	</table>
<br />

</body>
</html>