<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<title th:text="${pagetitle}">Generic Page Title</title>
</head>

<body>

<div class="container">
<p th:text=${event.title}>Name</p>
<p th:text="${#dates/format(event.startDate, 'dd/MM/yyyy')}">31/12//2017</p>
<p th:text="${#dates/format(event.endDate, 'dd/MM/yyyy')}">31/12//2017</p>
<p th:text="${event.time}">Time</p>

<div th:switch="${event.venueUrl}">
<p th:case="''" th:text="${event.venue}">Venue has no link</p>

<p th:case="*">

<a href=""


</div>





</div>








	<div class="jumbotron text-center">
		<h1>Form Example</h1><br />
	</div>

	<div class="container">
		<p th:text="${'Hello, ' + firstName + ' ' + LastName}">Result Page</p>
	</div>

</body>

</html>