<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">
		<h1 th:text="${cereal.name}"></h1>
		<h4 th:text="${cereal.manufacturer}"></h4>
		<br />
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nutrition</th>
					<th>Value</th>
				</tr>
			</thead>
	
			<tbody>
				<tr>
					<td>Energy</td>
					<td th:text="${cereal.energy}"></td>
				</tr>
				<tr>
					<td>Calories</td>
					<td th:text="${cereal.calories}"></td>
				</tr>
				<tr>
					<td>Protein</td>
					<td th:text="${cereal.protein}"></td>
				</tr>
				<tr>
					<td>Carbohydrate</td>
					<td th:text="${cereal.carbohydrate}"></td>
				</tr>
				<tr>
					<td>Sugars</td>
					<td th:text="${cereal.sugars}"></td>
				</tr>
				<tr>
					<td>Fat</td>
					<td th:text="${cereal.fat}"></td>
				</tr>
				<tr>
					<td>Saturates</td>
					<td th:text="${cereal.saturates}"></td>
				</tr>
				<tr>
					<td>Fibre</td>
					<td th:text="${cereal.fibre}"></td>
				</tr>
				<tr>
					<td>Sodium</td>
					<td th:text="${cereal.sodium}"></td>
				</tr>
				<tr>
					<td>Salt</td>
					<td th:text="${cereal.salt}"></td>
				</tr>
				<tr>
					<td>Iron</td>
					<td th:text="${cereal.iron}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>