<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<title th:text="${pagetitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron">
<h1>Buildings with the biggest volume</h1>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Order</th>
				<th>Name</th>
				<th>Value</th>
				<th>Image</th>				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="building : ${buildings}">
				<td th:text="${building.name}"></td>
				<td th:text="${building.label}"></td>				
				<td th:text="${building.value}"></td>
				<td><img src ="../static/1_Name.jpg" th:src="@{/} + ${building.image}" width="250" height="150" /></td>
			</tr>
		</tbody>
	</table>

</div>
</body>
</html>
