<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<title th:text="${pagetitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron">
<h1>Cereal</h1>
<p>Cereals</p>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Picture</th>
			</tr>
		</thead>
		
		<tbody>
		<tbody>
			<tr th:each="cereals : ${cereal}">
				<td th:text="${cereals.manufacturer}"></td>
				<td th:text="${cereals.name}"></td>
				
				
				
				
			</tr>
		</tbody>
		
		</tbody>
	</table>

</div>
</body>
</html>
