<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<title th:text="${pagetitle}">Generic Page Title</title>
</head>

<body>
	<div class="jumbotron text-center">
		<h1>Form Example</h1><br />
	</div>

	<div class="container">
		<form action="/results">
			First name:<br /><input type="text" name="firstname" value="Mickey"/><br />
			Last name:<br /><input type="text" name="lastname" value="Mouse"/><br />
		
			<input type="radio" name="gender" value="male"/>Male<br />
			<input type="radio" name="gender" value="female"/>Female<br />
			<input type="radio" name="gender" value="other"/>Other<br />
			<input type="submit" value="Submit" />
		</form>
		<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>	
	</div>
</body>

</html>