<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<title th:text="${pagetitle}">Generic Page Title</title>
	</head>

	<body>
		<nav th:replace="layouts/nav :: navFragment">
		</nav>

		<div class="jumbotron">
		<h1>Passengers</h1>
		</div>

		<div class="container">		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Class</th>
						<th>Survived</th>			
					</tr>
				</thead>
	
		<tbody>
			<tr th:each="passenger : ${passengers}">
				<td th:text="${passenger.name}">Braund, Mr. Owen Harris</td>
				<td th:text="${passenger.class}"></td>
				<td th:text="${passenger.survived}"></td>
			</tr>
		</tbody>

			</table>
		</div>
	</body>
</html>